<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- pattern -->
    <!--
    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:SSS}[%thread] %30logger[%method:%line] - %msg%n" />
    <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:SSS} [%thread] %-5level %30logger.%method [ %line ] [%X{ThreadId}] - %msg%n" />
    -->
    <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:SSS} [%thread] %-5level %30logger.%method [ %line line ] - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--
        <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"  additivity="false"/>
    -->
    <logger name="org.apache.poi" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.apache.poi.ooxml" level="info" additivity="false">
        <!-- ref="appender name 지정" -->
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="jdbc.resultsettable" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="jdbc.resultset" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="jdbc.audit" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="jdbc.sqlonly" level="off" additivity="false">
        <!-- ref="appender name 지정" -->
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.thymeleaf" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="octopus" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>